USE [master]
GO
/****** Object:  Database [Banka]    Script Date: 20.09.2025 18:55:17 ******/
CREATE DATABASE [Banka]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Banka', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Banka.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Banka_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Banka_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Banka].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Banka]
GO
/****** Object:  UserDefinedFunction [dbo].[fncBorcTutariniHesapla]    Script Date: 20.09.2025 18:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



 CREATE FUNCTION [dbo].[fncBorcTutariniHesapla]()
RETURNS MONEY AS
BEGIN
    DECLARE @borc MONEY;

    SELECT @borc = SUM(Limit - Bakiye) FROM Kart; 

    IF @borc IS NULL
        SET @borc = 0; -- Eğer tabloda kayıt yoksa borç tutarını sıfır olarak döndür

    RETURN @borc;
END
GO
/****** Object:  Table [dbo].[Adres]    Script Date: 20.09.2025 18:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adres](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IckapiNo] [varchar](3) NOT NULL,
	[DisKapiNo] [varchar](3) NOT NULL,
	[UlkeID] [int] NOT NULL,
	[IlID] [int] NOT NULL,
	[IlceID] [int] NOT NULL,
	[MahalleID] [int] NOT NULL,
	[SokakID] [int] NOT NULL,
	[Aciklama] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banka]    Script Date: 20.09.2025 18:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banka](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Banka_Ad] [varchar](20) NOT NULL,
	[WebSite] [varchar](20) NOT NULL,
	[TelNo] [varchar](10) NOT NULL,
	[KurulusTarih] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BireyselMusteri]    Script Date: 20.09.2025 18:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BireyselMusteri](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TCNo] [varchar](11) NOT NULL,
	[Ad] [varchar](20) NOT NULL,
	[SoyAd] [varchar](20) NOT NULL,
	[Cinsiyet] [bit] NOT NULL,
	[DogumTarihi] [date] NOT NULL,
	[Yas]  AS (datediff(year,[DogumTarihi],getdate())),
	[MusteriID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TCNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doviz]    Script Date: 20.09.2025 18:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doviz](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DovizTutar] [money] NOT NULL,
	[DovizCinsi] [varchar](10) NOT NULL,
	[TlTutar] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EksrteHareketi]    Script Date: 20.09.2025 18:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EksrteHareketi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IslemTarihi] [datetime] NOT NULL,
	[Tutar] [money] NOT NULL,
	[HareketTuru] [varchar](20) NOT NULL,
	[FirmaAdi] [varchar](50) NOT NULL,
	[EkstreID] [int] NOT NULL,
	[HareketTuruID] [int] NOT NULL,
	[EksrteHareketiID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ekstre]    Script Date: 20.09.2025 18:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ekstre](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ToplamBorc] [money] NOT NULL,
	[AsgariBorc] [money] NOT NULL,
	[OdenmesiGerekenTarih] [date] NOT NULL,
	[OdenenTarih] [date] NULL,
	[KartID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HareketTuru]    Script Date: 20.09.2025 18:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HareketTuru](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hesap]    Script Date: 20.09.2025 18:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hesap](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IbanNo] [varchar](26) NOT NULL,
	[Bakiye] [money] NOT NULL,
	[AcilisTarih] [date] NOT NULL,
	[KapanisTarih] [date] NULL,
	[DovizID] [int] NOT NULL,
	[HesapTuruID] [int] NOT NULL,
	[MusteriID] [int] NOT NULL,
	[SubeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[IbanNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HesapTuru]    Script Date: 20.09.2025 18:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HesapTuru](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HesapTurAd] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Il]    Script Date: 20.09.2025 18:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Il](
	[ID] [int] NOT NULL,
	[IlAd] [varchar](20) NOT NULL,
	[UlkeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ilce]    Script Date: 20.09.2025 18:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilce](
	[ID] [int] NOT NULL,
	[IlceAd] [varchar](20) NOT NULL,
	[IlID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Islem]    Script Date: 20.09.2025 18:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Islem](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HareketTipi] [smallint] NOT NULL,
	[IslemTarihi] [datetime] NOT NULL,
	[AliciIban] [varchar](26) NOT NULL,
	[Tutar] [money] NOT NULL,
	[Aciklama] [varchar](50) NULL,
	[HesapID] [int] NOT NULL,
	[IslemTuru] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IslemTuru]    Script Date: 20.09.2025 18:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IslemTuru](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kart]    Script Date: 20.09.2025 18:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kart](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KartNO] [varchar](20) NOT NULL,
	[KartTuru] [varchar](20) NOT NULL,
	[KartSifre] [char](4) NOT NULL,
	[HesapKesimTarih] [date] NOT NULL,
	[Limit] [money] NULL,
	[LimitSuresi] [datetime] NOT NULL,
	[Aktiflik] [bit] NOT NULL,
	[SonKullanmaTarih] [date] NOT NULL,
	[Bakiye] [money] NOT NULL,
	[Puan] [int] NULL,
	[FaizOrani] [decimal](5, 2) NULL,
	[CVVNo] [char](3) NOT NULL,
	[MusteriID] [int] NULL,
	[HesapID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KurumsalMusteri]    Script Date: 20.09.2025 18:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KurumsalMusteri](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KurulusTarih] [date] NOT NULL,
	[FirmaAd] [varchar](30) NOT NULL,
	[MusteriID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mahalle]    Script Date: 20.09.2025 18:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mahalle](
	[ID] [int] NOT NULL,
	[MahalleAd] [varchar](20) NOT NULL,
	[IlceID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteri]    Script Date: 20.09.2025 18:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteri](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TelNo] [varchar](20) NOT NULL,
	[EMail] [varchar](50) NOT NULL,
	[MusteriNo] [varchar](50) NOT NULL,
	[Verg_No] [varchar](50) NOT NULL,
	[AdresID] [int] NOT NULL,
 CONSTRAINT [PK__Musteri__3214EC276D100D75] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provizyon]    Script Date: 20.09.2025 18:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provizyon](
	[ProvizyonID] [int] IDENTITY(1,1) NOT NULL,
	[ProvizyonZamanı] [datetime] NULL,
	[MusteriID] [int] NULL,
	[HesapBakiye] [money] NULL,
	[IslemTuruAd] [varchar](20) NULL,
	[HesapTuruID] [int] NULL,
	[Onay] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sokak]    Script Date: 20.09.2025 18:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sokak](
	[ID] [int] NOT NULL,
	[SokakAd] [varchar](20) NOT NULL,
	[MahalleID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sube]    Script Date: 20.09.2025 18:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sube](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SubeAD] [varchar](20) NOT NULL,
	[TelNo] [varchar](20) NOT NULL,
	[BankaID] [int] NOT NULL,
	[AdresID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ulke]    Script Date: 20.09.2025 18:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ulke](
	[ID] [int] NOT NULL,
	[UlkeAdi] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BireyselMusteriBilgi]    Script Date: 20.09.2025 18:55:17 ******/
CREATE NONCLUSTERED INDEX [IX_BireyselMusteriBilgi] ON [dbo].[BireyselMusteri]
(
	[Ad] ASC,
	[SoyAd] ASC,
	[DogumTarihi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BireyselMüsteriBilgi]    Script Date: 20.09.2025 18:55:17 ******/
CREATE NONCLUSTERED INDEX [IX_BireyselMüsteriBilgi] ON [dbo].[BireyselMusteri]
(
	[Ad] ASC,
	[SoyAd] ASC,
	[DogumTarihi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Kart_MusteriID]    Script Date: 20.09.2025 18:55:17 ******/
CREATE NONCLUSTERED INDEX [IX_Kart_MusteriID] ON [dbo].[Kart]
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Kart] ADD  DEFAULT ((0)) FOR [Puan]
GO
ALTER TABLE [dbo].[Adres]  WITH CHECK ADD FOREIGN KEY([IlceID])
REFERENCES [dbo].[Ilce] ([ID])
GO
ALTER TABLE [dbo].[Adres]  WITH CHECK ADD FOREIGN KEY([IlID])
REFERENCES [dbo].[Il] ([ID])
GO
ALTER TABLE [dbo].[Adres]  WITH CHECK ADD FOREIGN KEY([MahalleID])
REFERENCES [dbo].[Mahalle] ([ID])
GO
ALTER TABLE [dbo].[Adres]  WITH CHECK ADD FOREIGN KEY([SokakID])
REFERENCES [dbo].[Sokak] ([ID])
GO
ALTER TABLE [dbo].[Adres]  WITH CHECK ADD FOREIGN KEY([UlkeID])
REFERENCES [dbo].[Ulke] ([ID])
GO
ALTER TABLE [dbo].[BireyselMusteri]  WITH CHECK ADD  CONSTRAINT [FK__BireyselM__Muste__59FA5E80] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteri] ([ID])
GO
ALTER TABLE [dbo].[BireyselMusteri] CHECK CONSTRAINT [FK__BireyselM__Muste__59FA5E80]
GO
ALTER TABLE [dbo].[EksrteHareketi]  WITH CHECK ADD FOREIGN KEY([EksrteHareketiID])
REFERENCES [dbo].[EksrteHareketi] ([ID])
GO
ALTER TABLE [dbo].[EksrteHareketi]  WITH CHECK ADD FOREIGN KEY([EkstreID])
REFERENCES [dbo].[Ekstre] ([ID])
GO
ALTER TABLE [dbo].[EksrteHareketi]  WITH CHECK ADD FOREIGN KEY([HareketTuruID])
REFERENCES [dbo].[HareketTuru] ([ID])
GO
ALTER TABLE [dbo].[Ekstre]  WITH CHECK ADD FOREIGN KEY([KartID])
REFERENCES [dbo].[Kart] ([ID])
GO
ALTER TABLE [dbo].[Hesap]  WITH CHECK ADD FOREIGN KEY([DovizID])
REFERENCES [dbo].[Doviz] ([ID])
GO
ALTER TABLE [dbo].[Hesap]  WITH CHECK ADD FOREIGN KEY([HesapTuruID])
REFERENCES [dbo].[HesapTuru] ([ID])
GO
ALTER TABLE [dbo].[Hesap]  WITH CHECK ADD  CONSTRAINT [FK__Hesap__MusteriID__5FB337D6] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteri] ([ID])
GO
ALTER TABLE [dbo].[Hesap] CHECK CONSTRAINT [FK__Hesap__MusteriID__5FB337D6]
GO
ALTER TABLE [dbo].[Hesap]  WITH CHECK ADD FOREIGN KEY([SubeID])
REFERENCES [dbo].[Sube] ([ID])
GO
ALTER TABLE [dbo].[Il]  WITH CHECK ADD FOREIGN KEY([UlkeID])
REFERENCES [dbo].[Ulke] ([ID])
GO
ALTER TABLE [dbo].[Ilce]  WITH CHECK ADD FOREIGN KEY([IlID])
REFERENCES [dbo].[Il] ([ID])
GO
ALTER TABLE [dbo].[Islem]  WITH CHECK ADD FOREIGN KEY([HesapID])
REFERENCES [dbo].[Hesap] ([ID])
GO
ALTER TABLE [dbo].[Islem]  WITH CHECK ADD FOREIGN KEY([IslemTuru])
REFERENCES [dbo].[IslemTuru] ([ID])
GO
ALTER TABLE [dbo].[Kart]  WITH CHECK ADD FOREIGN KEY([HesapID])
REFERENCES [dbo].[Hesap] ([ID])
GO
ALTER TABLE [dbo].[Kart]  WITH CHECK ADD  CONSTRAINT [FK__Kart__MusteriID__6A30C649] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteri] ([ID])
GO
ALTER TABLE [dbo].[Kart] CHECK CONSTRAINT [FK__Kart__MusteriID__6A30C649]
GO
ALTER TABLE [dbo].[KurumsalMusteri]  WITH CHECK ADD  CONSTRAINT [FK__KurumsalM__Muste__5629CD9C] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteri] ([ID])
GO
ALTER TABLE [dbo].[KurumsalMusteri] CHECK CONSTRAINT [FK__KurumsalM__Muste__5629CD9C]
GO
ALTER TABLE [dbo].[Mahalle]  WITH CHECK ADD FOREIGN KEY([IlceID])
REFERENCES [dbo].[Ilce] ([ID])
GO
ALTER TABLE [dbo].[Musteri]  WITH CHECK ADD  CONSTRAINT [FK__Musteri__AdresID__75A278F5] FOREIGN KEY([AdresID])
REFERENCES [dbo].[Adres] ([ID])
GO
ALTER TABLE [dbo].[Musteri] CHECK CONSTRAINT [FK__Musteri__AdresID__75A278F5]
GO
ALTER TABLE [dbo].[Provizyon]  WITH CHECK ADD  CONSTRAINT [FK_MusteriID] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteri] ([ID])
GO
ALTER TABLE [dbo].[Provizyon] CHECK CONSTRAINT [FK_MusteriID]
GO
ALTER TABLE [dbo].[Sokak]  WITH CHECK ADD FOREIGN KEY([MahalleID])
REFERENCES [dbo].[Mahalle] ([ID])
GO
ALTER TABLE [dbo].[Sube]  WITH CHECK ADD FOREIGN KEY([AdresID])
REFERENCES [dbo].[Adres] ([ID])
GO
ALTER TABLE [dbo].[Sube]  WITH CHECK ADD FOREIGN KEY([BankaID])
REFERENCES [dbo].[Banka] ([ID])
GO
USE [master]
GO
